<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{"/css/bootstrap.min.css"| prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{"/css/icomoon-social.css"| prepend: site.baseurl }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{"/css/leaflet.css"| prepend: site.baseurl }}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{"css/leaflet.ie.css"| prepend: site.baseurl }}" />
    <![endif]-->
    <link rel="stylesheet" href="{{"/css/main.css"| prepend: site.baseurl }}">

    <script src="{{"/js/modernizr-2.6.2-respond-1.1.0.min.js"| prepend: site.baseurl }}"></script>
</head>
